
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>智慧校园-用户注册</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <style type="text/css">
        body {
            display:flex;
            height: 969px;
            align-items: center;
            padding:40px 0;
            background-color: #f5f5f5;
        }
        form {
            display: block;
            width: 100%;
            max-width: 330px;
            padding:15px;
            margin: auto;
        }
        .btn-block {
            width:300px;
            margin:10px auto;
        }
        .form-control {
            width:300px;
            height: 50px;
            font-size: 20px;
            margin:0 auto -20px;
            background-color: #fff;
        }


    </style>
</head>
<body class=text-center class=text-center style=" background-image:
linear-gradient(to right top, #a82d73, #8c2d74, #6e2d72, #512c6b, #342961, #273267, #163a6b, #00416d, #005981, #00718e, #008895, #0e9f96);">

<!-- 点击登录之后，提交表单，验证该用户输入的账号密码是否正确 -->
<form id = "app">
    <img src="../image/zhxyb.png" style="width: 80px">
    <br><br>
<!--    <h2 class="=form-signin0-heading">注册</h2>-->
    <input class="form-control" v-model="username" type="text" placeholder="请设置用户名" @blur="blur" @focus="focus" @input="usernameLimit">
    <span v-html="msg"></span>
    <br>
    <br>
    <input class="form-control" v-model="password" type="password" placeholder="请设置密码" @input="passwordLimit">
    <br>
    <br>
    <input class="form-control" v-model="passwords" type="password" placeholder="请确认密码" @input="passwordLimit">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="button" @click="register">注册</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" @click="login">返回登录</button>
</form>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="../js/vue.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    var pang = new Vue({
        el:"#app",
        data:{
            username: '',
            password: '',
            msg: '',

        },
        methods:{

            login:function () {
                window.location.href = "login.html"
            },

            //只能输入英文、数字
            passwordLimit:function() {
                this.password = this.password.replace(/[^\a-\z\A-\Z0-9]/g, '')
            },
            // 限制输入特殊字符
            userNameLimit:function() {
                this.username = this.username.replace(/[ `~!@#$%^&*()_\-+=<>?:"{}|,.\/;'\\[\]·~！@#￥%……&*（）——\-+={}|《》？：“”【】、；‘’，。、]/g, '')
            },

            /**
             * 失去焦点
             * */
            blur:function () {
                if (this.username.length <= 0) {
                    pang.msg = '<span style="color: red">用户名不能为空</span>'
                } else {
                    axios.post('/user/select',{
                        username : this.username,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}   //跨域
                    }).then(function (dat){
                        if (dat.data == "0"){
                            pang.msg = '<span style="color: green">用户名可用</span>'
                        }
                        else if (dat.data == "1")
                            pang.msg = '<span style="color: red">用户名已存在</span>'
                    })
                }
            },
            /**
             * 获取焦点
             * */
            focus:function () {
                pang.msg = null
            },

            /**
             * 点击注册按钮事件
             * */
            register:function () {
                if (this.username.length <= 0) {
                    alert("用户名不能为空")
                } else if(this.password.length <= 0) {
                    alert("密码不能为空")
                }else if (this.password!=this.passwords){
                    alert("密码不一致！")
                }
                else {
                    axios.post('/user/register', {
                        username: this.username,
                        password: this.password,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}   //跨域
                    }).then(function (dat) {
                        if (dat.data == '1') {
                            alert("注册成功！")
                            window.location.href = '/pages/login.html'
                        }else {
                            alert("注册失败, 该用户名已经存在！")
                        }

                    })
                }
            }
        }
    })
</script>

</body>
</html>

